body {
  font-family: 'Montserrat', sans-serif;
  color: #4F4F4F;
  --primary-color: #e29578;
  --primary-color-dark: #de8261;
  --primary-color-light: #f8bca6;
  --second-color: #81b29a;
  --second-color-light: #a7cfbc;
  --second-color-dark: #5c9479;
  --base-color: #4F4F4F;
  --base-color-light: #8d8d8d;
}
section {
  padding: 20px 0;
}
#navbar {
  padding: 0;
  background-color: rgba(255,255,255, 0);
  position: sticky;
  /* z-index: 200; */
  top: 0;
  /* border-bottom: 1px solid #f1f1f1; */
  height: 65px;
  display: flex;
  align-items: center;
  text-align: center;
}

#navbar a {
  text-transform: uppercase;
  color: var(--base-color-light);
  text-decoration: none;
}

#navbar a:hover {
  color: var(--base-color-light);
  text-decoration: none;
}

.background-primary {
  background-color: var(--primary-color);
  color: white;
}

#start {
  /* padding: 100px 0 100px; */
  height: calc(100vh - 65px);
  display: flex;
  align-items: center;
}

#start .container {
  text-align: center;
}

h1 {
  font-size: 75px;
  letter-spacing: 4px;
  /* text-transform: uppercase; */
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}

.subtitle {
  font-size: 24px;
  margin-bottom: 30px;
}

.cat {
  /* filter: brightness(0) invert(1); */
  margin-left: 75px;
  width: 275px;
}

.contact {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.contact a {
  font-size: 50px;
  color: white;
  opacity: 0.9;
}

.contact a:hover {
  opacity: 1;
}


h2 {
  font-size: 40px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile-photo {
  width: 100%;
}

.bio {
  padding: 0 0 0 40px;
}

p {
  font-size: 24px;
}