body {
  font-family: 'Montserrat', sans-serif;
  color: #4F4F4F;
  --primary-color: #e29578;
  --primary-color-dark: #c86c4a;
  --primary-color-light: #fbcfb4;
  --second-color: #E5F4F9;
  --second-color-light: #a7cfbc;
  --second-color-dark: #5c9479;
  --base-color: #4F4F4F;
  --base-color-light: #8d8d8d;
}

/* Typography */

h1, h2 {
  font-family: 'Playfair Display', 'Montserrat', serif;
}

h1 {
  font-size: 75px;
  letter-spacing: 2px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  font-size: 56px;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 30px;
  display: inline-flex;
  position: relative;
  padding: 0 15px 0 10px;
}

h2::after {
  background-color: var(--primary-color-light);
  opacity: 0.5;
  transition: all .1s linear;
  content: "";
  display: block;
  width: 100%;
  height: 22px;
  bottom: 6px;
  left: 0;
  z-index: -10;
  position: absolute;
}



h3 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
}

h4 {
  font-size: 18px;
}

.display {
  font-size: 64px;
  padding: 0 20px 0 10px;
}

.display::after {
  height: 28px;
}

@media (max-width: 480px) {
  .display, h2 {
    font-size: 48px;
    text-align: center;
    display: block;
  }
}

p {
  font-size: 18px;
}

a {
  transition: 0.3s linear;
}

a.link {
  color: var(--base-color);
  text-decoration: none;
  position: relative;
  display: inline-block;
}

a.link::hover {
  color: var(--base-color);
}

a.link::after {
  background-color: var(--primary-color-light);
  transition: all .1s linear;
  content: "";
  display: block;
  width: 100%;
  height: 6px;
  bottom: 4px;
  z-index: -10;
  position: absolute;
}

a.link:hover::after {
  height: 18px;
}

ul {
  padding-left: 0;
}

ul > li {
  list-style: none;
  margin-bottom: 4px;
}

/* Global */

section {
  padding: 30px 0;
}

.col-text {
  padding: 0 40px;
}

.col-v-center {
  height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

/* Navigation */

#navbar {
  padding: 0;
  background-color: rgba(255,255,255, 0);
  position: sticky;
  z-index: 10;
  top: 0;
  height: 65px;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  gap: 15px;
  text-align: center;
  justify-content: center;
}

.nav a {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--base-color);
  text-decoration: none;
  position: relative;
}

.nav a:hover {
  color: var(--base-color);
}

.nav a::after {
  background-color: var(--primary-color-light);
  transition: all .1s linear;
  content: "";
  display: block;
  width: 100%;
  height: 0;
  bottom: 3px;
  z-index: -10;
  position: absolute;
}

.nav a:hover::after {
  height: 8px;
}

/* Intro */

#intro {
  display: flex;
  align-items: center;
}

.intro-section{
  background-color: var(--primary-color);
  color: white;
  text-align: center;
}

@media (min-width: 480px) {
  .intro-section{
    height: calc(100vh - 65px);
  }
}

.subtitle {
  font-size: 24px;
  margin-bottom: 30px;
}

.cat {
  margin-left: 75px;
  width: 275px;
}

.intro-contact {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.intro-contact a {
  font-size: 50px;
  color: white;
  opacity: 1;
}

.intro-contact a:hover {
  opacity: 0.7;
}

/* About */

.about-section {
  padding: 120px 0 50px;
}

.profile-img-container {
  position: relative;
  min-height: 700px;
  width: 550px;
  max-width: 100%;
  top: 0;
  bottom: 0;
}

.profile-img {
  position: absolute;
  width: 425px;
  max-width: 100%;
  top: 0;
  right: 0;
}

.shadow-one {
  position: absolute;
  width: 425px;
  max-width: 100%;
  height: 566px;
  background-color: var(--primary-color-light);
  opacity: 0.5;
  top: 70px;
  right: 70px;
}

.shadow-two {
  position: absolute;
  width: 425px;
  max-width: 100%;
  height: 566px;
  background-color: var(--primary-color);
  opacity: 0.5;
  top: 35px;
  right: 35px;
}

@media (max-width: 480px) {
  .shadow-one, .shadow-two{
    width: 100%;
    left: 0;
    right: 0;
    height: 100px;
    top: auto;
  }
  .shadow-one {
    bottom: -60px;
  }
  .shadow-two {
    bottom: -30px;
  }
  .profile-img-container{
    min-height: 0;
    margin-bottom: 100px;
  }
  .profile-img {
    position: relative;
    width: 100%;
  }
}

.inline-icon {
  display: inline-flex;
  width: 1.25rem;
  margin-right: 2px;
}

/* Skills */

.swiper {
  margin-top: 30px;
  padding-bottom: 60px;
}

.swiper-icons {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.swiper-icons img {
  width: 100px;
}

.swiper-button-next {
  right: 0;
  top: 35%;
  color: var(--base-color-light);
}

.swiper-button-prev {
  left: 0;
  top: 35%;
  color: var(--base-color-light);
}

.swiper-pagination-bullet-active {
  background-color: var(--base-color);
}

/* Projects */

.project-section {
  margin-bottom: 40px;
}

.project-title {
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 44px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.project-background {
  width: 100%;
  background-color: var(--second-color);
  padding: 60px 0 40px;

}

.project-img {
  max-width: 100%;
  width: 700px;
  margin: 0 auto;
  display: block;
}

.project-links {
  margin-top: 20px;
}

.project-links a.link {
  font-size: 18px;
  margin-right: 10px
}

.project-links a.link:hover::after {
  height: 22px;
}

/* Footer */

footer {
  text-align: center;
  background-color: #F1F1F1;
  padding: 20px 0;
}

.footer-contact {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 12px;
  margin-top: 15px;
}

.footer-contact a {
  color: var(--base-color);
  font-size: 18px;
  opacity: 0.7;
  transition: 0.3s linear;
}

.footer-contact a:hover {
  opacity: 1;
}

